APP_APP_NAME='Django_Debate_Engine'
APP_DB_HOST='127.0.0.1'
APP_DB_PORT='3306'
APP_DB_NAME='DjangoProto8'
APP_DB_USER='DjangoProto8'
APP_DB_PASSWORD='your_value_here'

MAIL_ALLOW_INVALID_CERT=0
MAIL_FROM="no-reply@glitter.kr"
MAIL_FROM_NAME="Glitter Debate Engine"
MAIL_SERVER="mail.glitter.kr"
MAIL_PORT=587
MAIL_USE_TLS="true"
MAIL_USE_SSL="false"
MAIL_USERNAME="no-reply@glitter.kr"
MAIL_SENDERNAME="gim@glitter.kr"
MAIL_PASSWORD="your_value_here"
MAIL_SENDERPASSWORD="your_value_here"
MAIL_REQUIRE_TLS='true'
MAIL_ENABLED='true'

BASE_URL="https://glitter.im"

GOOGLE_CLIENT_ID='your_value_here'
GOOGLE_CLIENT_SECRET='your_value_here'

POST_VERIFY_REDIRECT_PATH="/"

DJANGO_DEBUG='0'
#   python3 -c "import secrets; print(secrets.token_urlsafe(64))"
#   python3 -c "import secrets; print(secrets.token_urlsafe(48))" 
DJANGO_SECRET_KEY='your_value_here'
DJANGO_ALLOWED_HOSTS='glitter.im,www.glitter.im'
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS='1'
DJANGO_SECURE_HSTS_PRELOAD='1'
